# Evitar archivos de diseño de Figma, Sketch, XD
*.sketch
*.fig
*.xd

# Node modules (si usás npm)
node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos temporales / backups
*.log
*.tmp
*.swp
*.swo

# Ignorar Prettier config si no lo usás compartido
.prettierignore
